.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    flex-direction: column;
    position: relative;
    
}
img{
    top: .5rem;
    width: 200px;
    position: absolute;
    
}

.btn.btn-toggle{
    padding: 1rem 1.4rem;
    
}


h2{
    font-family:'Monoton';
    font-weight: 400;
    transition: var(--transition);
    color: var(--color-light);
    top: 6.5rem;
    position: relative;
    letter-spacing: 1rem;
}
h2:hover{
    transform:scale(1.2);
    letter-spacing: .5rem;
}

@media screen and (max-width: 600px){
    h2{
        letter-spacing: 1px;
    }
    h2:hover{
        transform:scale(1.1);
        letter-spacing: .2rem;
    }

}
